* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

header {
  width: 100%;
  height: 180px;
  flex-shrink: 0;
  position: relative;
}

header .swiper-container {
  width: 100%;
  height: 100%;
}

header .swiper-wrapper {
  width: 100%;
}

header .swiper-container .swiper-slide {
  width: 100%;
}

header .swiper-container .swiper-slide img {
  width: 100%;
  height: 100%;
}

.top {
  position: absolute;
  z-index: 999;
  width: 100%;
  height: 44px;
  padding: 0 20px;
  display: flex;
  align-items: center;
}

.top .serach {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
}

.top .serach .left p.iconfont {
  font-size: 16px;
  color: red;
  border-right: 1px solid #ccc;
  padding: 0 20px;
}

.top .serach .right {
  flex: 1;
  display: flex;
  align-items: center;
}

.top .serach .right span.iconfont {
  font-size: 16px;
  color: #ccc;
  margin: 0 10px;
}

.top .serach .right input {
  flex: 1;
  height: 30px;
  border: none;
  background: none;
  outline: none;
  padding-right: 3px;
}

footer {
  width: 100%;
  height: 44px;
  flex-shrink: 0;
}

section {
  flex: 1;
  overflow: hidden;
  background: #f7f7f7;
}

.content {
  width: 100%;
}

.content .nav {
  width: 100%;
  padding: 10px 0;
  background: #fff;
}

.content .nav ul {
  width: 100%;
  height: 100%;
  display: flex;
}

.content .nav ul li {
  flex: 1;
  text-align: center;
}

.content .nav ul li img {
  width: 50px;
}

.content .nav ul li p {
  color: #666666;
  font-size: 14px;
}

.dayTask {
  width: 100%;
  padding: 10px 10px 10px 0;
  background: #fff;
  margin: 10px 0;
}

.dayTask .taskTop {
  width: 100%;
  height: 40px;
  line-height: 30px;
  text-align: center;
  font-size: 14px;
}

.dayTask .taskB {
  width: 100%;
  display: flex;
  height: 100px;
}

.dayTask .taskB .left {
  width: 140px;
  height: 100%;
  border: solid 1px #f1e0c3;
  margin-right: 15px;
}

.dayTask .taskB .left ul {
  width: 100%;
  height: 100%;
}

.dayTask .taskB .left ul li {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dayTask .taskB .left ul li:nth-child(1) {
  background: #f8f3eb;
  text-align: center;
  line-height: 50px;
}

.dayTask .taskB .left ul li:nth-child(1) h2 {
  font-size: 14px;
  margin: 0 6px;
}

.dayTask .taskB .left ul li:nth-child(1) span {
  display: block;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #be8e40;
}

.dayTask .taskB .left ul li:nth-child(2) img {
  width: 18px;
  margin-right: 5px;
}

.dayTask .taskB .left ul li:nth-child(2) p {
  font-size: 12px;
  color: #c5ac82;
}

.dayTask .taskB .right {
  height: 100%;
  border: solid 1px #f1e0c3;
  flex: 1;
  display: flex;
}

.dayTask .taskB .right .right_left {
  width: 35px;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 7px;
}

.dayTask .taskB .right .right_left h5 {
  font-size: 12px;
  border-right: solid #ccc 1px;
  padding-right: 5px;
}

.dayTask .taskB .right .right_right {
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dayTask .taskB .right .right_right img {
  width: 50px;
}

.dayTask .taskB .right .right_center {
  flex: 1;
  padding: 10px 0;
}

.dayTask .taskB .right .right_center p {
  font-size: 14px;
}

.dayTask .taskB .right .right_center span {
  background: #be8e40;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
}

.foryou {
  width: 100%;
  background: #fff;
}

.foryou .foryou_header {
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
}

.foryou .foryou_header li {
  flex: 1;
  text-align: center;
}

.foryou .foryou_header li span {
  font-size: 14px;
}

.foryou .foryou_header li h2 span.iconfont {
  font-size: 20px;
}

.foryou ul {
  width: 100%;
  height: 40px;
  display: flex;
}

.foryou ul li {
  flex: 1;
  text-align: center;
  font-weight: bold;
}

footer ul {
  width: 100%;
  height: 100%;
  display: flex;
  border-top: solid #cfcfcf 1px;
}

footer ul li {
  flex: 1;
  height: 100%;
  overflow: hidden;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

footer ul li span.iconfont {
  font-size: 16px;
  color: #666666;
}

footer ul li p {
  font-size: 12px;
  color: #666666;
}

footer ul li.active span.iconfont,
footer ul li.active p {
  color: #ff5777;
}
